<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}  -  Portfolio </title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/logo.png') }}">
            <a href="{{ url_for('home') }}">AsmrProg</a>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
        <a href="https://github.com/kyba2011" target="_blank" rel="noopener noreferrer">
            <button class="git"><i class="ri-github-fill"></i> My Projects</button>
        </a>
    </nav>
    <div class="dot"></div>
    {% block content %}{% endblock %}
    <div class="dot"></div>
    <footer>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <p>© 2025 Portfolio</p>
    </footer>

</body>

</html>