    {% extends "base.html" %}

{% block title %}Contact - Personal Portfolio{% endblock %}

{% block content %}
<div class="contact">
    <h2>Interested in Working Together?</h2>
    <div class="items">
        <div class="item">
            <a href="https://t.me/kyba_q" target="_blank">Telegram</a>
            <p>@kyba_q</p>
            <a href="https://t.me/kyba_q" target="_blank"><button>Send messege</button></a>
        </div>
        <div class="item">
            <a href="mailto:kylychba25@gmail.com" target="_blank">Email</a>
            <p>kylychba25@gmail.com</p>
            <a href="mailto:kylychba25@gmail.com" target="_blank"><button>Send messege</button></a>
        </div>
    </div>
</div>
{% endblock %}